@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');
.newsletter-heading {
  font-family: 'Poppins', 'serif';
  font-weight: 300;
}
.newsletter-content {
  font-family: sans-serif;
  font-weight: none;
}
.input-area {
  padding: 1.23rem !important;
}
