* {
  font-family: Merienda, "Montaga", serif;
  font-weight: 400;
  box-sizing: border-box;
}
.cardcontainer {
  width: 95%;
  margin: auto;
  position: relative;
}

.bg-success {
  background-color: #007721 !important;
}

.text-success {
  color: #072 !important;
}

.badge {
  font-size: 1.03rem;
}

.prodImgCard {
  overflow: hidden;
  margin: 0 auto;
  /* max-height: 80vh; */
}

.prodImgCard img {
  /* width: 90%; */
  height: 60vh;
  transition: 0.8s all ease-in-out;
}

.prodImgCard:hover img {
  transform: scale(1.04);
}

.prod-cart-buy-btns {
  display: flex;
  justify-content: space-around;
}
.prod-cart-buy-btns > a {
  width: 47%;
  border-radius: 0;
  margin: 10px;
  text-transform: uppercase;
  font-size: 1rem;
  text-align: center;
  padding: 1.3rem 0.7rem;
}

.btn-cart,
.btn-buy {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.btn-cart {
  background-color: #000;
  color: #fff;
  border: 2px solid;
}
.btn-cart:hover {
  color: #fff;
}

.btn-buy {
  background-color: #fff;
  color: #000;
  border: 2px solid #000;
}
.btn-buy:hover {
  background-color: #000;
  color: #fff;
  border: none;
}
.prodDetails {
  font-size: 1.2rem;
}

.rating-section {
  padding: 0.5rem 0;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  gap: 1rem;
}

#prices {
  margin: 0.5rem 0;
}

.sp,
.mp,
.discount {
  display: inline;
  margin-right: 0.3rem;
}

#offers ul {
  list-style: none;
  padding: 0;
}

#offers li {
  padding-left: 1.3em;
}

#offers li:before {
  content: "\f02b";
  font-family: FontAwesome;
  display: inline-block;
  margin-left: -1.3em;
  width: 1.3em;
  color: #007721;
}

.prodImgSection {
  position: -webkit-sticky;
  position: sticky;
  top: 8.7rem;
}

.card {
  box-shadow: 2px 5px 10px rgba(62, 65, 65, 0.096);
}

.dropbtn {
  background-color: #000;
  color: white;
  padding: 8px 16px;
  font-size: 1rem;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 8px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #d8d6d6f7;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.selectbtn {
  background-color: #000;
  color: white;
  padding: 8px 16px;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  border: 2px solid;
}

.btn-dark{
  background-color: #000 !important;
  border-radius: 0;
}
.buyQuantity input {
  background-color: #fff;
  color: #000;
  padding: 6px 16px;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  border: 2px solid #333;
}

.assureBtn{
  background-color: rgb(204, 160, 17);
}

.selectbtn-outline{
  background-color: #fff;
  color: #000;
  padding: 6px 16px;
  font-size: 1rem;
  cursor: pointer;
  border: 2px solid #333;
}

#copyLink:hover {
  cursor: pointer;
  color: black;
  font-weight: bolder;
  transform: scale(1.1);
}

#moreReviews{
    display: none;
}
